<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Flowcort.Properties.Settings.FSXSE_A321_TutorialConnectionString"
            connectionString="data source=|DataDirectory|\FSXSE_A321_Tutorial"
            providerName="System.Data.SQLite.EF6" />
        <add name="Flowcort.Properties.Settings.FlowcortDataConnectionString"
            connectionString="data source=|DataDirectory|\FlowcortData.fct"
            providerName="System.Data.SQLite.EF6" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="true"> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>